<!--클래스형 뷰와 연결되는 템플릿-->

{% extends "base_polls.html" %}

{% block content %}

<h2>Polls Question List</h2>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock content %}

<!--함수형 뷰와 연결되는 템플릿-->

<!--{% if latest_question_list %}-->
<!--    <ul>-->
<!--    {% for question in latest_question_list %}-->
<!--        <li><a href="/polls/{{ question.id }}/">{{  question.question_text  }}</a></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No polls are available.</p>-->
<!--{% endif %}-->

